<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b894f2">  <td>19/11/06 16:41:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC01.AfterClass()[pri:0, instance:com.wipro.testcases.TC01@37883b97]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1403704789</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>19/11/06 16:41:20</td>   <td>369</td> <td title="&lt;&lt;TestBase.AfterSuite()[pri:0, instance:com.wipro.testcases.TC01@37883b97]">&lt;&lt;AfterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>19/11/06 16:40:31</td>   <td>-48595</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC01.BeforeClass()[pri:0, instance:com.wipro.testcases.TC01@37883b97]">&gt;&gt;BeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1403704789</td>   <td></td> </tr>
<tr bgcolor="bc60a9">  <td>19/11/06 16:40:31</td>   <td>-48626</td> <td title="&gt;&gt;TestBase.BeforeSuite()[pri:0, instance:com.wipro.testcases.TC01@37883b97]">&gt;&gt;BeforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1403704789</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>19/11/06 16:40:37</td>   <td>-42501</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.Test1()[pri:0, instance:com.wipro.testcases.TC01@37883b97]">Test1</td> 
  <td>main@1403704789</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>19/11/06 16:40:45</td>   <td>-35178</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.Test2()[pri:0, instance:com.wipro.testcases.TC01@37883b97]">Test2</td> 
  <td>main@1403704789</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>19/11/06 16:40:49</td>   <td>-30832</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.Test3()[pri:0, instance:com.wipro.testcases.TC01@37883b97]">Test3</td> 
  <td>main@1403704789</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>19/11/06 16:40:56</td>   <td>-24475</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.Test4()[pri:0, instance:com.wipro.testcases.TC01@37883b97]">Test4</td> 
  <td>main@1403704789</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>19/11/06 16:41:02</td>   <td>-18354</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.Test5()[pri:0, instance:com.wipro.testcases.TC01@37883b97]">Test5</td> 
  <td>main@1403704789</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>19/11/06 16:41:08</td>   <td>-12263</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.Test6()[pri:0, instance:com.wipro.testcases.TC01@37883b97]">Test6</td> 
  <td>main@1403704789</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>19/11/06 16:41:14</td>   <td>-6153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.Test7()[pri:0, instance:com.wipro.testcases.TC01@37883b97]">Test7</td> 
  <td>main@1403704789</td>   <td></td> </tr>
</table>
