<h2>Methods that were not run</h2><table>
<tr><td>com.wipro.testbase.TestBase.AfterSuite</td></tr>
<tr><td>com.wipro.testbase.TestBase.BeforeSuite</td></tr>
<tr><td>com.wipro.testbase.TestBase.AfterSuite</td></tr>
<tr><td>com.wipro.testbase.TestBase.BeforeSuite</td></tr>
<tr><td>com.wipro.testbase.TestBase.AfterSuite</td></tr>
<tr><td>com.wipro.testbase.TestBase.BeforeSuite</td></tr>
<tr><td>com.wipro.testbase.TestBase.AfterSuite</td></tr>
<tr><td>com.wipro.testbase.TestBase.BeforeSuite</td></tr>
<tr><td>com.wipro.testbase.TestBase.AfterSuite</td></tr>
<tr><td>com.wipro.testbase.TestBase.BeforeSuite</td></tr>
</table>