<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b894f2">  <td>19/11/06 16:53:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC01.AfterClass()[pri:0, instance:com.wipro.testcases.TC01@4e3958e7]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7e8a9e">  <td>19/11/06 16:54:44</td>   <td>49279</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC02.AfterClass()[pri:0, instance:com.wipro.testcases.TC02@3e96bacf]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/11/06 16:55:31</td>   <td>96515</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC03.AfterClass()[pri:0, instance:com.wipro.testcases.TC03@60015ef5]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="866d69">  <td>19/11/06 16:56:28</td>   <td>153762</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC04.AfterClass()[pri:0, instance:com.wipro.testcases.TC04@5ab9e72c]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>19/11/06 16:57:29</td>   <td>214736</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC05.AfterClass()[pri:0, instance:com.wipro.testcases.TC05@ba54932]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="78d6a3">  <td>19/11/06 16:57:30</td>   <td>215311</td> <td title="&lt;&lt;TestBase.AfterSuite()[pri:0, instance:com.wipro.testcases.TC05@ba54932]">&lt;&lt;AfterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>19/11/06 16:53:14</td>   <td>-40484</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC01.BeforeClass()[pri:0, instance:com.wipro.testcases.TC01@4e3958e7]">&gt;&gt;BeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7e8a9e">  <td>19/11/06 16:53:55</td>   <td>679</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC02.BeforeClass()[pri:0, instance:com.wipro.testcases.TC02@3e96bacf]">&gt;&gt;BeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/11/06 16:54:44</td>   <td>49897</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC03.BeforeClass()[pri:0, instance:com.wipro.testcases.TC03@60015ef5]">&gt;&gt;BeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="866d69">  <td>19/11/06 16:55:33</td>   <td>98753</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC04.BeforeClass()[pri:0, instance:com.wipro.testcases.TC04@5ab9e72c]">&gt;&gt;BeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>19/11/06 16:56:29</td>   <td>154312</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC05.BeforeClass()[pri:0, instance:com.wipro.testcases.TC05@ba54932]">&gt;&gt;BeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="78d6a3">  <td>19/11/06 16:53:14</td>   <td>-40515</td> <td title="&gt;&gt;TestBase.BeforeSuite()[pri:0, instance:com.wipro.testcases.TC05@ba54932]">&gt;&gt;BeforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>19/11/06 16:53:20</td>   <td>-34575</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.Test1()[pri:0, instance:com.wipro.testcases.TC01@4e3958e7]">Test1</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7e8a9e">  <td>19/11/06 16:54:00</td>   <td>5844</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test1()[pri:0, instance:com.wipro.testcases.TC02@3e96bacf]">Test1</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/11/06 16:54:50</td>   <td>55297</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC03.Test1()[pri:0, instance:com.wipro.testcases.TC03@60015ef5]">Test1</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="866d69">  <td>19/11/06 16:55:38</td>   <td>103955</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test1()[pri:0, instance:com.wipro.testcases.TC04@5ab9e72c]">Test1</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>19/11/06 16:56:34</td>   <td>159584</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.Test1()[pri:0, instance:com.wipro.testcases.TC05@ba54932]">Test1</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>19/11/06 16:53:29</td>   <td>-25681</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.Test2()[pri:0, instance:com.wipro.testcases.TC01@4e3958e7]">Test2</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7e8a9e">  <td>19/11/06 16:54:07</td>   <td>13125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test2()[pri:0, instance:com.wipro.testcases.TC02@3e96bacf]">Test2</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/11/06 16:54:58</td>   <td>64152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC03.Test2()[pri:0, instance:com.wipro.testcases.TC03@60015ef5]">Test2</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="866d69">  <td>19/11/06 16:55:46</td>   <td>112216</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test2()[pri:0, instance:com.wipro.testcases.TC04@5ab9e72c]">Test2</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>19/11/06 16:56:41</td>   <td>166572</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.Test2()[pri:0, instance:com.wipro.testcases.TC05@ba54932]">Test2</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>19/11/06 16:53:33</td>   <td>-21384</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.Test3()[pri:0, instance:com.wipro.testcases.TC01@4e3958e7]">Test3</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7e8a9e">  <td>19/11/06 16:54:12</td>   <td>17331</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test3()[pri:0, instance:com.wipro.testcases.TC02@3e96bacf]">Test3</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/11/06 16:55:03</td>   <td>68357</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC03.Test3()[pri:0, instance:com.wipro.testcases.TC03@60015ef5]">Test3</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="866d69">  <td>19/11/06 16:55:52</td>   <td>117801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test3()[pri:0, instance:com.wipro.testcases.TC04@5ab9e72c]">Test3</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>19/11/06 16:56:45</td>   <td>170896</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.Test3()[pri:0, instance:com.wipro.testcases.TC05@ba54932]">Test3</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>19/11/06 16:53:37</td>   <td>-17702</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.Test4()[pri:0, instance:com.wipro.testcases.TC01@4e3958e7]">Test4</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7e8a9e">  <td>19/11/06 16:54:15</td>   <td>20289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test4()[pri:0, instance:com.wipro.testcases.TC02@3e96bacf]">Test4</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/11/06 16:55:06</td>   <td>71306</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC03.Test4()[pri:0, instance:com.wipro.testcases.TC03@60015ef5]">Test4</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="866d69">  <td>19/11/06 16:55:55</td>   <td>120736</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test4()[pri:0, instance:com.wipro.testcases.TC04@5ab9e72c]">Test4</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>19/11/06 16:56:48</td>   <td>173836</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.Test4()[pri:0, instance:com.wipro.testcases.TC05@ba54932]">Test4</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>19/11/06 16:53:39</td>   <td>-15015</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.Test5()[pri:0, instance:com.wipro.testcases.TC01@4e3958e7]">Test5</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7e8a9e">  <td>19/11/06 16:54:21</td>   <td>26694</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test5()[pri:0, instance:com.wipro.testcases.TC02@3e96bacf]">Test5</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/11/06 16:55:11</td>   <td>76919</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC03.Test5()[pri:0, instance:com.wipro.testcases.TC03@60015ef5]">Test5</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="866d69">  <td>19/11/06 16:56:01</td>   <td>126344</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test5()[pri:0, instance:com.wipro.testcases.TC04@5ab9e72c]">Test5</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>19/11/06 16:56:54</td>   <td>179528</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.Test5()[pri:0, instance:com.wipro.testcases.TC05@ba54932]">Test5</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>19/11/06 16:53:45</td>   <td>-9341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.Test6()[pri:0, instance:com.wipro.testcases.TC01@4e3958e7]">Test6</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7e8a9e">  <td>19/11/06 16:54:26</td>   <td>31664</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test6()[pri:0, instance:com.wipro.testcases.TC02@3e96bacf]">Test6</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/11/06 16:55:16</td>   <td>81725</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC03.Test6()[pri:0, instance:com.wipro.testcases.TC03@60015ef5]">Test6</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="866d69">  <td>19/11/06 16:56:03</td>   <td>128896</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test6()[pri:0, instance:com.wipro.testcases.TC04@5ab9e72c]">Test6</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>19/11/06 16:56:58</td>   <td>183686</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.Test6()[pri:0, instance:com.wipro.testcases.TC05@ba54932]">Test6</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>19/11/06 16:53:49</td>   <td>-5242</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.Test7()[pri:0, instance:com.wipro.testcases.TC01@4e3958e7]">Test7</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7e8a9e">  <td>19/11/06 16:54:29</td>   <td>34382</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test7()[pri:0, instance:com.wipro.testcases.TC02@3e96bacf]">Test7</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/11/06 16:55:19</td>   <td>84390</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC03.Test7()[pri:0, instance:com.wipro.testcases.TC03@60015ef5]">Test7</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="866d69">  <td>19/11/06 16:56:19</td>   <td>144388</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test7()[pri:0, instance:com.wipro.testcases.TC04@5ab9e72c]">Test7</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>19/11/06 16:57:02</td>   <td>187812</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.Test7()[pri:0, instance:com.wipro.testcases.TC05@ba54932]">Test7</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7e8a9e">  <td>19/11/06 16:54:34</td>   <td>39945</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test8()[pri:0, instance:com.wipro.testcases.TC02@3e96bacf]">Test8</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/11/06 16:55:21</td>   <td>86979</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC03.Test8()[pri:0, instance:com.wipro.testcases.TC03@60015ef5]">Test8</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="866d69">  <td>19/11/06 16:56:23</td>   <td>148515</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test8()[pri:0, instance:com.wipro.testcases.TC04@5ab9e72c]">Test8</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>19/11/06 16:57:20</td>   <td>205408</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.Test8()[pri:0, instance:com.wipro.testcases.TC05@ba54932]">Test8</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7e8a9e">  <td>19/11/06 16:54:38</td>   <td>44042</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test9()[pri:0, instance:com.wipro.testcases.TC02@3e96bacf]">Test9</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>19/11/06 16:57:24</td>   <td>209508</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.Test9()[pri:0, instance:com.wipro.testcases.TC05@ba54932]">Test9</td> 
  <td>main@1604353554</td>   <td></td> </tr>
</table>
