<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="78d6a3">  <td>19/11/06 16:53:14</td>   <td>0</td> <td title="&gt;&gt;TestBase.BeforeSuite()[pri:0, instance:com.wipro.testcases.TC05@ba54932]">&gt;&gt;BeforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>19/11/06 16:53:14</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC01.BeforeClass()[pri:0, instance:com.wipro.testcases.TC01@4e3958e7]">&gt;&gt;BeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>19/11/06 16:53:20</td>   <td>5940</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.Test1()[pri:0, instance:com.wipro.testcases.TC01@4e3958e7]">Test1</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>19/11/06 16:53:29</td>   <td>14834</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.Test2()[pri:0, instance:com.wipro.testcases.TC01@4e3958e7]">Test2</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>19/11/06 16:53:33</td>   <td>19131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.Test3()[pri:0, instance:com.wipro.testcases.TC01@4e3958e7]">Test3</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>19/11/06 16:53:37</td>   <td>22813</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.Test4()[pri:0, instance:com.wipro.testcases.TC01@4e3958e7]">Test4</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>19/11/06 16:53:39</td>   <td>25500</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.Test5()[pri:0, instance:com.wipro.testcases.TC01@4e3958e7]">Test5</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>19/11/06 16:53:45</td>   <td>31174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.Test6()[pri:0, instance:com.wipro.testcases.TC01@4e3958e7]">Test6</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>19/11/06 16:53:49</td>   <td>35273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC01.Test7()[pri:0, instance:com.wipro.testcases.TC01@4e3958e7]">Test7</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>19/11/06 16:53:54</td>   <td>40515</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC01.AfterClass()[pri:0, instance:com.wipro.testcases.TC01@4e3958e7]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7e8a9e">  <td>19/11/06 16:53:55</td>   <td>41194</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC02.BeforeClass()[pri:0, instance:com.wipro.testcases.TC02@3e96bacf]">&gt;&gt;BeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7e8a9e">  <td>19/11/06 16:54:00</td>   <td>46359</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test1()[pri:0, instance:com.wipro.testcases.TC02@3e96bacf]">Test1</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7e8a9e">  <td>19/11/06 16:54:07</td>   <td>53640</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test2()[pri:0, instance:com.wipro.testcases.TC02@3e96bacf]">Test2</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7e8a9e">  <td>19/11/06 16:54:12</td>   <td>57846</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test3()[pri:0, instance:com.wipro.testcases.TC02@3e96bacf]">Test3</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7e8a9e">  <td>19/11/06 16:54:15</td>   <td>60804</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test4()[pri:0, instance:com.wipro.testcases.TC02@3e96bacf]">Test4</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7e8a9e">  <td>19/11/06 16:54:21</td>   <td>67209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test5()[pri:0, instance:com.wipro.testcases.TC02@3e96bacf]">Test5</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7e8a9e">  <td>19/11/06 16:54:26</td>   <td>72179</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test6()[pri:0, instance:com.wipro.testcases.TC02@3e96bacf]">Test6</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7e8a9e">  <td>19/11/06 16:54:29</td>   <td>74897</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test7()[pri:0, instance:com.wipro.testcases.TC02@3e96bacf]">Test7</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7e8a9e">  <td>19/11/06 16:54:34</td>   <td>80460</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test8()[pri:0, instance:com.wipro.testcases.TC02@3e96bacf]">Test8</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7e8a9e">  <td>19/11/06 16:54:38</td>   <td>84557</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC02.Test9()[pri:0, instance:com.wipro.testcases.TC02@3e96bacf]">Test9</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7e8a9e">  <td>19/11/06 16:54:44</td>   <td>89794</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC02.AfterClass()[pri:0, instance:com.wipro.testcases.TC02@3e96bacf]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/11/06 16:54:44</td>   <td>90412</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC03.BeforeClass()[pri:0, instance:com.wipro.testcases.TC03@60015ef5]">&gt;&gt;BeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/11/06 16:54:50</td>   <td>95812</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC03.Test1()[pri:0, instance:com.wipro.testcases.TC03@60015ef5]">Test1</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/11/06 16:54:58</td>   <td>104667</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC03.Test2()[pri:0, instance:com.wipro.testcases.TC03@60015ef5]">Test2</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/11/06 16:55:03</td>   <td>108872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC03.Test3()[pri:0, instance:com.wipro.testcases.TC03@60015ef5]">Test3</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/11/06 16:55:06</td>   <td>111821</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC03.Test4()[pri:0, instance:com.wipro.testcases.TC03@60015ef5]">Test4</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/11/06 16:55:11</td>   <td>117434</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC03.Test5()[pri:0, instance:com.wipro.testcases.TC03@60015ef5]">Test5</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/11/06 16:55:16</td>   <td>122240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC03.Test6()[pri:0, instance:com.wipro.testcases.TC03@60015ef5]">Test6</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/11/06 16:55:19</td>   <td>124905</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC03.Test7()[pri:0, instance:com.wipro.testcases.TC03@60015ef5]">Test7</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/11/06 16:55:21</td>   <td>127494</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC03.Test8()[pri:0, instance:com.wipro.testcases.TC03@60015ef5]">Test8</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="7465a0">  <td>19/11/06 16:55:31</td>   <td>137030</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC03.AfterClass()[pri:0, instance:com.wipro.testcases.TC03@60015ef5]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="866d69">  <td>19/11/06 16:55:33</td>   <td>139268</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC04.BeforeClass()[pri:0, instance:com.wipro.testcases.TC04@5ab9e72c]">&gt;&gt;BeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="866d69">  <td>19/11/06 16:55:38</td>   <td>144470</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test1()[pri:0, instance:com.wipro.testcases.TC04@5ab9e72c]">Test1</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="866d69">  <td>19/11/06 16:55:46</td>   <td>152731</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test2()[pri:0, instance:com.wipro.testcases.TC04@5ab9e72c]">Test2</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="866d69">  <td>19/11/06 16:55:52</td>   <td>158316</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test3()[pri:0, instance:com.wipro.testcases.TC04@5ab9e72c]">Test3</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="866d69">  <td>19/11/06 16:55:55</td>   <td>161251</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test4()[pri:0, instance:com.wipro.testcases.TC04@5ab9e72c]">Test4</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="866d69">  <td>19/11/06 16:56:01</td>   <td>166859</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test5()[pri:0, instance:com.wipro.testcases.TC04@5ab9e72c]">Test5</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="866d69">  <td>19/11/06 16:56:03</td>   <td>169411</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test6()[pri:0, instance:com.wipro.testcases.TC04@5ab9e72c]">Test6</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="866d69">  <td>19/11/06 16:56:19</td>   <td>184903</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test7()[pri:0, instance:com.wipro.testcases.TC04@5ab9e72c]">Test7</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="866d69">  <td>19/11/06 16:56:23</td>   <td>189030</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC04.Test8()[pri:0, instance:com.wipro.testcases.TC04@5ab9e72c]">Test8</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="866d69">  <td>19/11/06 16:56:28</td>   <td>194277</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC04.AfterClass()[pri:0, instance:com.wipro.testcases.TC04@5ab9e72c]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>19/11/06 16:56:29</td>   <td>194827</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC05.BeforeClass()[pri:0, instance:com.wipro.testcases.TC05@ba54932]">&gt;&gt;BeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>19/11/06 16:56:34</td>   <td>200099</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.Test1()[pri:0, instance:com.wipro.testcases.TC05@ba54932]">Test1</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>19/11/06 16:56:41</td>   <td>207087</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.Test2()[pri:0, instance:com.wipro.testcases.TC05@ba54932]">Test2</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>19/11/06 16:56:45</td>   <td>211411</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.Test3()[pri:0, instance:com.wipro.testcases.TC05@ba54932]">Test3</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>19/11/06 16:56:48</td>   <td>214351</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.Test4()[pri:0, instance:com.wipro.testcases.TC05@ba54932]">Test4</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>19/11/06 16:56:54</td>   <td>220043</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.Test5()[pri:0, instance:com.wipro.testcases.TC05@ba54932]">Test5</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>19/11/06 16:56:58</td>   <td>224201</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.Test6()[pri:0, instance:com.wipro.testcases.TC05@ba54932]">Test6</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>19/11/06 16:57:02</td>   <td>228327</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.Test7()[pri:0, instance:com.wipro.testcases.TC05@ba54932]">Test7</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>19/11/06 16:57:20</td>   <td>245923</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.Test8()[pri:0, instance:com.wipro.testcases.TC05@ba54932]">Test8</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>19/11/06 16:57:24</td>   <td>250023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC05.Test9()[pri:0, instance:com.wipro.testcases.TC05@ba54932]">Test9</td> 
  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="abb66f">  <td>19/11/06 16:57:29</td>   <td>255251</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC05.AfterClass()[pri:0, instance:com.wipro.testcases.TC05@ba54932]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1604353554</td>   <td></td> </tr>
<tr bgcolor="78d6a3">  <td>19/11/06 16:57:30</td>   <td>255826</td> <td title="&lt;&lt;TestBase.AfterSuite()[pri:0, instance:com.wipro.testcases.TC05@ba54932]">&lt;&lt;AfterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1604353554</td>   <td></td> </tr>
</table>
